@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&family=Source+Sans+Pro:wght@400;900&display=swap');
/* GLobal Style Start*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}
/* Nav Style Start*/
nav {
    height: 145px;
    width: 100%;
    background: #fff;
}
label.logo {
    padding: 35px 0 0px 200px;  
}
nav ul {
    float: right;
    margin: 35px 200px 0 0;
    padding-left: 0;
}

nav ul li{
    display: inline-block;
    margin: 15px 10px;
}
#portalLogin{
    background: #fff;
}
nav ul button{
    border-radius: 5px;
    padding: 5px 7px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 13px;
    border-radius: 10px;
}
a.active, a:hover{
    background: #3A7EFC;
    color: #fff;
    transition: .5s;
}
#portalLogin button:hover{
    background: black;
    color: #fff;
    transition: .5s
}
.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 120px;
    margin-right: 100px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*Home.html styles*/
/*home-section1*/
video {
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 145px);
    opacity: 0.5;
}
.home-section1 {
    position: relative;
    background: #3AB0FF;
    height: calc(100vh - 145px);
}
.home-sec1H1{
    position: absolute;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc((5 * 1) * 1.2vw + 1rem);
    font-weight: 900;
    top: 30vh;
    left: 200px;
    line-height: 1;
}

.home-section2{
    position: relative;
    height: auto;
    width: 100%;
    background: #3AB0FF;
}
.home-section2-1{
    position: absolute;
    background: #fff;
    width: 40%;
    margin: 150px 0 0 200px;
    padding: 50px;
    z-index: 1;
}
.home-section2-1 h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc((1.5 * 1) * 1.2vw + 1rem);
    font-weight: 900;
    line-height: 1;
}
.home-section2-1 p{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 25px;
}

.home-section2-2 img{
    opacity: .5;
    height: 560px;
    width: 50%;
    margin-left: 40%;
    margin-top: 70px;
    margin-bottom: 200px;
}
.home-section3{
    background: #06283D;
    height: auto;
    text-align: center;
    color: #fff;
    display:flex;
    margin: 0;
    padding: 0;
}
.home-section3-1{
    width: 40%;
    padding: 50px 0 50px 0;
    margin-left: 200px;
}
.home-section3-1 h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    text-align: left;
    line-height: 1;
    color: #47B5FF;
}
.home-section3-2{
    width: 60%;
    word-wrap: break-word;
}
.home-section3-2 p{
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
}
.home-section3-2 strong{
    font-weight: 900;
}
.home-section3-2 button{
    background: #06283D;
    color: #fff;
    border-color: #fff;
    border-radius: 5px;
    padding: 7px 10px;
    margin-top: 25px;
}
.home-section3-2 button:hover{
    background: #fff;
    color: black;
    transition: .5s
}
.home-section3-2{
    text-align: left;
    padding: 50px 0 50px 0;
    line-height: 1.7;
    margin-right: 200px;
    margin-left: 100px;
}
.home-section4{
    background: #27496D;
    width: auto;
    padding: 25px;
    color: #47B5FF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.home-section4-h1{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: calc((3.5 - 1) * 1.2vw + 1rem);
    font-weight: 900;
    color: #fff;
    background: #27496D;
    margin: 0;
    padding: 15px 0 0 0;
    text-align:center;
}


.home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
    height: 500px;
    width: 390px;
    margin-bottom: 15px;
    opacity: .8;
    border-radius: 10px;
}
.home-section4-2 img,.home-section4-5 img{
    width: 100%;
}
.home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
    text-align: center;
    align-content: center;
    color: #fff;
    width: 600px;
    padding: 25px;
    transition: .6s;
}
.home-section4 h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: calc((2 - 1)* 1.2vw + 1rem);
}
.home-section4 a{
    text-decoration: none !important;
}
.home-section4 p{
    font-size: calc((.9 - 1rem)* 1.2vw + 1rem);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    padding: 0 25px;
}
.home-section4-1:hover,.home-section4-2:hover,.home-section4-3:hover,.home-section4-4:hover,.home-section4-5:hover,.home-section4-6:hover{
    transform: scale(1.1);
    box-shadow: 4px 4px 4px 4px #47B5FF;
    background: #06283D;
    z-index: 2;
    border-radius:10px;
} 
.home-section5{
    background: #fff;
    text-align: center;
    margin: auto 200px auto 200px
}
.home-section5 h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: calc((2 * 1)* 1.2vw + 1rem);
    color: #47B5FF;
    margin-top: 25px;
}
.home-section5 p{
    margin-top: 25px
}
.home-section6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background:#06283D;
}
.home-section6 img{
    height: 400px;
    width: 317px;
    opacity: .5;
}
/* About-Section 1 */
.about-section1{
    position: relative;
    background: #47B5FF;
}
#about-imgSec1{
    opacity: .4;
    background-size: cover;
    
}
.about-sec1H1{
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc((7 - 1)* 1.2vw + 1rem);
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: #fff;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
/* About -Section 2 */
.about-section2{
    background: #47B5FF;
    height: 380px;
    line-height: 1;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 50px 200px;
}
.about-section2 h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: calc((1.8 - 1) * 1.2vw + 1rem);
    font-weight: 900;
}
.about-section2 p{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: calc((2.5 - 1) * 1.2vw + 1rem);
    font-weight: 900;
}

/* About - Section 3 */
.about-section3 {
    background: #06283D;
    height: 900px;
    text-align: center;
    color: #fff;
    display:flex;
    margin: 0;
    padding: 0;
}
.about-section3-1{
    width: 40%;
    padding: 50px;
    margin-right: 50px;
}
.about-section3-1 h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: calc((3.1 - 1) * 1.2vw + 1rem);
    text-align: left;
    line-height: 1;
}
.about-section3-2{
    width: 60%;
    word-wrap: break-word;
}
.about-section3-2 h3{
    font-size: calc((2.1 - 1) * 1.2vw + 1rem);
    font-weight: bold;
    padding: 15px 0;
}
.about-section3-2 p{
    font-size: calc((1 - 1) * 1.2vw + 1rem);
}
div.about-section3-2{
    text-align: left;
    padding: 50px 50px 50px 0;
    line-height: 1.7;
}
.about-section3-2-1{
    font-weight: bold;
}

/* About-Section 4 */
.about-section4{
    background: #47B5FF;
    height: 600px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 50px 200px;
}
.about-section4 h3{
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    font-weight: 900;
    margin-bottom: 20px;
}
.about-section4 p{
    font-weight: 900;
    font-size: calc((1.9 - 1) * 1.1vw + .8rem);
    line-height: 1.2;
    margin-bottom: 20px;
}
/* Services.html styles */
.services-section {
    width: 100%;
    background: #27496D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-section1,.services-section2,.services-section3,.services-section4,.services-section5,.services-section6{
    width: 90%;
    background:#06283D;
    color: #fff;
    line-height: 1.8;
    margin: 100px;
    display: flex;
    padding: 50px;
}
.services-section img {
    width: 500px;
    border-radius: 10px;
}
.services-section1:hover,.services-section2:hover,.services-section3:hover,.services-section4:hover,.services-section5:hover,.services-section6:hover{
    transition: 1s;
    transform: scale(1.01);
    box-shadow: 4px 4px 4px 4px #47B5FF;
    z-index: 2;
}



.services-section1-2,.services-section2-2,.services-section3-2,.services-section4-2,.services-section5-2,.services-section6-2{
    padding: 0 50px 50px;
    font-family: 'Source Sans Pro', sans-serif;
}
.services-section1-2 h3,.services-section2-2 h3,.services-section3-2 h3,.services-section4-2 h3,.services-section5-2 h3,.services-section6-2 h3{
    font-size: calc((2.4 - 1) * 1.2vw + 1rem);
    font-weight: 600;
    margin-bottom: 20px;
}
.services-section1-2 p,.services-section2-2 p,.services-section3-2 p,.services-section4-2 p,.services-section5-2 p,.services-section6-2 p{
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
    margin: 0;
}
/*QUOTE PAGE STYLES*/
.quote-section1{
    display: flex;
    justify-content: space-around;
    font-family: 'Source Code Pro',sans-serif;
    width: 100%;
    height: calc(100vh -145px);
    background: #3AB0FF;
    padding: 100px;
}
.quote-section1-1{
    width: 40%;
    color: #fff;
}
.quote-section1-1 h1{
    font-size: calc((1.5 * 1)* 1.2vw + 1rem);
    font-weight: 900;
    margin-bottom: 25px;
}
.quote-section1-1 p{
    font-size: calc((.3 * 1)* 1.2vw + 1rem);
}
div.quote-section1-2{
    width: 40%;
}
/* CONTACT PAGE STYLES */
hr {
    height: 5px;
    background-color: #fff;
}
.quote-section1-2 form{
    margin: 0;
}
#contact-section{
    background-color:#47B5FF;
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
}
#contact-section h3{
    color: #06283D;
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
    white-space: nowrap;
}
#contact-section p{
    font-size: 2rem;
}
#contact-section div{
    margin-bottom: 100px;
}
div#contact-section1{
    width: 40%;
    color: #fff;
    padding:50px 0 50px 100px;
}
div#contact-section1 h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
}

div#contact-section2{
    width: 40%;
}

form{
    margin: 60px 100px 0 0
}
form input{
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}
form textarea{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    padding-top: 80px;
    font-size: 1.5rem;
}
form button{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
}

form button:hover{
    color: #fff;
    background-color: black;
}
#thankYouMessage{
    width: 100%;
    height: 68vh;
    padding: 150px 0px;
    background-color: #47B5FF;
    color: #fff;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}
#thankYouMessage h1{
    font-size: 4rem;
    font-weight: 900;
}
#thankYouMessage p{
    font-size: 3rem;
    font-weight: 600;
}
#thankYouName h1{
    margin: 0;
    width: 100vw;
}

/* Career style */
.careerH2{
    display: flex;
    background-color:#06283D;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}
.careerH2 h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: calc(2.5 * 1.2vh + 1rem);
    color: white;
    padding: 25px;
}
.careerH2 h2:hover{
    transition: .5s;
    box-shadow:#47B5FF 4px 4px 4px 4px;
    border-radius: 10px;
    margin: 10px 0 15px 0;
    text-decoration: underline;
}
.careerMain{
    margin-bottom: 25px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 35px;
}
.jobsLink{
    text-decoration: none;
    color: #47B5FF;
}
a:hover{
    transition: .5s;
    font-weight: 600;
    font-size: larger;
    text-decoration: underline;
}

/* footer style */
.footer{
    background: #06283D;
    height: 150px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}
address{
    line-height: .5;
    font-size: calc(1.1 * .9rem);
    margin-right: 25px;
    white-space: nowrap;
}
.footer div{
    text-align: right;
    line-height: .5;
    font-size: calc(1.1 * .9rem);
    white-space: nowrap;
    margin-left: 25px;
}

/* @media 1900px */
@media screen and (max-width:1900px) {
    .home-section4{
        padding-left: 110px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 500px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 545px;
    }
}
/* @media 1800px */
@media screen and (max-width:1800px) {
    
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 450px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 500px;
    }
}
/* @media 1700px */
@media screen and (max-width:1700px) {
    .home-section4{
        padding-left: 50px;
    }
}
/* @Media 1600px*/
@media screen and (max-width: 1600px) {
    label.logo{
        padding-left: 150px;
    }
    nav ul {
        margin-right: 150px;
    }
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #06283D;
        top: 110px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 1;
    }
    nav ul li{
        width: 75%;
        margin-left: 12.5%;
        display: block;
        padding: 10px;
    }
    nav ul li:hover{
        transition: .5s;
        transform: scale(1.1);
        box-shadow: 4px 4px 4px 4px #47B5FF;
        border-radius: 4px;
        z-index: 2;
    }
    nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        border-radius: 10px;
    }
    #portalLogin{
        background: #06283D;
    }
    a:hover,a.active{
        background: none;
        color: #3A7EFC;
    }
    
    #check:checked ~ ul{
        left: 0;
    }
    .home-sec1H1{
        left: 150px;
    }
    .home-section2-1{
        margin-left: 150px;
    }
    .home-section3-1{
        margin-left: 150px;
    }
    .home-section3-2{
        margin-right: 150px;
    }
    .home-section4{
        padding: 25px 0 25px 180px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 350px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 400px;
    }
    .home-section5{
        margin-left: 100px;
        margin-right: 100px;
    }
    div.about-section2 p{
        font-size: 3.5rem;
    }
    .about-section2{
        padding: 50px 150px;
    }
    .about-section3{
        height: auto;
    }
    .about-section4{
        height: auto;
        padding: 50px 150px;
    }
    .footer{
        padding: 30px 250px;
        height: auto;
    }
    #thankYouMessage{
        height: auto;
        width: auto;
    }
}
@media screen and (max-width:1500px) {
    .home-section4{
        padding-left: 150px;
    }
}
@media screen and (max-width:1450px) {
    .home-section4{
        padding-left: 75px;
    }
}
/* @Media 1300px*/
@media screen and (max-width: 1300px) {
    label.logo{
        padding-left: 100px;
    }
    nav ul {
        margin-right: 100px;
    }
    .home-sec1H1{
        left: 100px;
    }
    .home-section2-1{
        margin-left: 100px;
    }
    .home-section3-1{
        margin-left: 100px;
    }
    .home-section3-2{
        margin-right: 100px;
        margin-left: 50px;
    }
    .home-section4{
        padding-left: 150px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 450px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 500px;
    }
    #about-imgSec1{
        object-fit:fill;
        object-position: 20% 20%;
    }
    div.about-section2 p{
        font-size: 3rem;
    }
    .about-section4{
        padding: 50px 125px;
    }
    .services-section1,.services-section2,.services-section3,.services-section4,.services-section5,.services-section6{
        flex-direction: column;
        text-align: center;
        margin: 25px;
    }
    .services-section1-1 img,.services-section2-1 img,.services-section3-1 img,.services-section4-1 img,.services-section5-1 img,.services-section6-1 img{
        width: 700px;
        margin-bottom: 25px;
    }
    
    .footer{
        padding: 30px 100px;
    }
}
@media screen and (max-width:1200px) {
    .home-section4{
        padding-left: 80px;
    }
}
/* @Media 1100px*/
@media screen and (max-width: 1110px){
    /* .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #06283D;
        top: 110px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 1;
    }
    nav ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px;
    }
    nav ul li a{
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        padding: 7px 13px;
        border-radius: 10px;
    }
    #portalLogin{
        background: #06283D;
    }
    a:hover,a.active{
        background: none;
        color: #3A7EFC;
    }
    #check:checked ~ ul{
        left: 0;
    } */
    .home-sec1H1{
        left: 75px;
    }
    .home-section2-1{
        margin-left: 75px;
    }
    .home-section3-1{
        margin-left: 75px;
    }
    .home-section3-2{
        margin-right: 75px;
    }
    .home-section4{
        padding-left: 150px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 350px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 400px;
    }
    .home-section5{
        margin-left: 50px;
        margin-right: 50px;
    }
    .about-section2{
        padding: 50px;
    }
    
    .about-section4{
        padding: 50px;
    }
    #contact-section{
        flex-direction: column;
    }
    div #contact-section1{
        width: 100%;
        padding: 10px;
        white-space: nowrap;
        text-align: center;
    }
    #contact-section1 h4{
        font-size: 1rem;
        white-space: normal;
    }
    #contact-section1 p{
        font-size: 1.5rem;
    }
    div #contact-section2 {
        width: 100%;
        padding: 50px;
    }
    form{
        margin: 0;
    }
    .footer{
        height: auto;
    }
    .footer address{
        margin-right: 15px;
    }
}
@media screen and (max-width:1000px) {
    .home-section4{
        padding-left: 80px;
    }
}
/* @Media 900px*/
@media screen and (max-width: 900px) {
    .home-sec1H1{
        left: 50px;
    }
    .home-section2-1{
        margin: 150px 0 0 50px;
        width: 60%;
        padding: 15px;
    }
    .home-section2-2 img{
        height: 350px;
        margin-bottom: 100px;
    }
    .home-section3-1{
        margin-left: 50px;
    }
    .home-section3-2{
        margin-right: 50px;
    }
    .home-section4{
        padding-left: 75px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 650px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 700px;
    }

    .about-section1 .sec1H1{
        white-space: normal;
        line-height: 1;
    }
    .about-section2{
        height: auto;
    }
    .about-section4{
        padding: 25px;
    }
    .services-section1,.services-section2,.services-section3,.services-section4,.services-section5,.services-section6{
        padding: 25px;
    }
    .services-section1-1 img,.services-section2-1 img,.services-section3-1 img,.services-section4-1 img,.services-section5-1 img,.services-section6-1 img{
        width: 500px;
    }
    .services-section1-2,.services-section2-2,.services-section3-2,.services-section4-2,.services-section5-2,.services-section6-2{
        padding: 0 25px 25px;
    }
    .quote-section1{
        flex-direction: column;
        justify-content: space-around;
        padding: 100px;
    }
    .quote-section1-1{
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }
    div.quote-section1-2{
        width: 100%;
    }
    #thankYouMessage{
        height: auto;
    }
    .footer{
        flex-direction: column;
        padding: 25px;
    }
    address{
        padding: 25px 400px 25px 25px;
    }
    .footer > div{
        padding: 40px 25px 25px 400px; 
    }
}
@media screen and (max-width:800px) {
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 550px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 600px;
    }
}
/* @Media 700px*/
@media screen and (max-width: 700px) {
    label.logo {
        padding-left: 10px;  
    }
    .checkbtn{
        margin: 10px 40px;
    }
    .home-section2-2 img{
        height: 250px;
        margin-top: 40px;
        margin-bottom: 250px;
    }
    .home-section3-2{
        margin-left: 25px;
    }
    .home-section4{
        padding-left: 75px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 500px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 550px;
    }
    .about-section1 .about-sec1H1{
        white-space: normal;
        line-height: 1;
    }
    .about-section2{
        padding: 50px 50px;
    }
    .about-section3{
        flex-direction: column;
        text-align: center;
        height: auto;
    }
    div.about-section3-1-2{
        position: absolute;
        bottom: -100%;
    }
    .about-section3-1,.about-section3-2{
        width: 100%;
    }
    div.about-section3-2{
        padding: 0 50px 50px 50px;
    }
    .services-section1-1 img,.services-section2-1 img,.services-section3-1 img,.services-section4-1 img,.services-section5-1 img,.services-section6-1 img{
        width: 350px;
    }
    .services-section1-2,.services-section2-2,.services-section3-2,.services-section4-2,.services-section5-2,.services-section6-2{
        padding: 0 10px 10px;
    }
    .quote-section1{
        padding: 50px 50px 50px;
    }
    address{
        padding: 25px 225px 25px 25px;
    }
    .footer > div{
        padding: 40px 25px 25px 225px; 
    }
}
@media screen and (max-width:650px){
    .home-section4{
        padding-left: 60px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 450px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 500px;
    }
}
@media screen and (max-width:600px){
    .home-section4{
        padding-left: 75px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 350px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 400px;
    }
}
@media screen and (max-width:500px){
    label.logo{
        width: 20%;
    }
    
    .home-section4{
        padding: 50px;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 340px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 380px;
    }

    .home-section4{
        padding-left: 20px;
        justify-content: center;
    }
    .home-section4-1 img,.home-section4-2 img,.home-section4-3 img,.home-section4-4 img,.home-section4-5 img,.home-section4-6 img{
        width: 250px;
        height: 250px;
    }
    .home-section4-1,.home-section4-2,.home-section4-3,.home-section4-4,.home-section4-5,.home-section4-6 {
        width: 300px;
    }
    .about-section2{
        line-height: 1;
        padding: 25px;
    }
    .services-section1-1 img,.services-section2-1 img,.services-section3-1 img,.services-section4-1 img,.services-section5-1 img,.services-section6-1 img{
        width: 250px;
    }
    address{
        padding: 25px 100px 25px 15px;
    }
    .footer > div{
        padding: 40px 15px 25px 100px; 
    }
}
